<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comm-Board - HTML5 Admin Template</title>

    <!-- <link rel="stylesheet" href="favicon.png"> -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/vendor/css/simplebar.css">
    <link rel="stylesheet" href="/assets/vendor/css/bs-dropzone.min.css">
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.min.css">
    <link id="styles" rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <!-- Theme customization -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h4 id="offcanvasRightLabel">Theme Customization</h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="nav-position mb-30">
                    <p><span class="text-primary"><i class="bi bi-octagon-fill"></i></span> Click the button bellow to
                        change navbar position <strong>(Top/Left)</strong></p>
                    <a role="button" class="btn btn-primary" id="navChange"><i class="bi bi-arrow-bar-up"></i></a>
                </div>
                <div class="theme-color">
                    <p><span class="text-primary"><i class="bi bi-octagon-fill"></i></span> Click on any color bellow to
                        change theme color</p>
                    <button class="btn-color color-1" id="color-1" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Violets Are Blue"></button>
                    <button class="btn-color color-2" id="color-2" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Lavender Indigo"></button>
                    <button class="btn-color color-3" id="color-3" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Deep Magenta"></button>
                    <button class="btn-color color-4" id="color-4" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Blue"></button>
                    <button class="btn-color color-5" id="color-5" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Medium Aquamarine"></button>
                    <button class="btn-color color-6" id="color-6" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Orioles Orange"></button>
                    <button class="btn-color color-7" id="color-7" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Maya Blue"></button>
                    <button class="btn-color color-8" id="color-8" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Deep Violet"></button>
                    <button class="btn-color color-9" id="color-9" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Dark"></button>
                </div>
            </div>
        </div>
        <!-- Theme customization -->

        <!-- header -->
        <div class="header">
            <div class="top-header">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-sm-4 col-6">
                        <div class="d-flex align-items-center">
                            <div class="logo">
                                <div class="logo-big">
                                    <a href="index.html">
                                        <img src="/assets/images/logo-2.png" id="logoBig" alt="Logo big">
                                    </a>
                                </div>
                                <div class="logo-small">
                                    <a href="index.html">
                                        <img src="/assets/images/logo-small.png" id="logoSmall" alt="Logo small">
                                    </a>
                                </div>
                            </div>
                            <button class="sidebar-collapse">
                                <i class="bi bi-list"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-sm-8 col-6">
                        <div class="top-right">
                            <nav class="navbar navbar-expand">
                                <div class="navbar-collapse" id="navbarSupportedContent">
                                    <form class="nav-form d-flex">
                                        <input type="search" placeholder="Search" aria-label="Search">
                                        <button type="submit"><i class="bi bi-search"></i></button>
                                    </form>
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <button class="message-dropdown" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-bell-fill"></i>
                                                <span
                                                    class="position-absolute p-1 bg-danger border border-light rounded-circle">
                                                    <span class="visually-hidden">New alerts</span>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu notification-dropdown-menu"
                                                aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <a href="#" class="like"><i class="bi bi-heart-fill"></i> Shaikh
                                                        Darda likes your post</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="comment"><i
                                                            class="bi bi-chat-left-text-fill"></i> 5 New comments on
                                                        your post</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="update"><i class="bi bi-gear-wide-connected"></i>
                                                        1 Details updated</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-center">Show all notification</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <button class="message-dropdown" type="button" id="dropdownMenuButton2"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-chat-text-fill"></i>
                                                <span
                                                    class="position-absolute p-1 bg-danger border border-light rounded-circle">
                                                    <span class="visually-hidden">New alerts</span>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu message-dropdown-menu"
                                                aria-labelledby="dropdownMenuButton2">
                                                <li>
                                                    <a href="#">
                                                        <img src="assets/images/avatar-1.jpg" alt="image">
                                                        <div class="txt">
                                                            <span>Lori Harrison</span>
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                                                                Autem.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="assets/images/avatar-1.jpg" alt="image">
                                                        <div class="txt">
                                                            <span>Lori Harrison</span>
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                                                                Autem.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="assets/images/avatar-1.jpg" alt="image">
                                                        <div class="txt">
                                                            <span>Lori Harrison</span>
                                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                                                                Autem.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="justify-content-center">Show all messages</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <button class="profile-dropdown" type="button" id="dropdownMenuButton3"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="/assets/images/logo-3.png" alt="user">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="bi bi-person-badge-fill"></i>profile</a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="bi bi-envelope-fill"></i>inbox</a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="bi bi-list-task"></i>tasks</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="bi bi-gear-fill"></i>settings</a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="bi bi-shield-lock-fill"></i>lock screen</a></li>
                                                <li><a class="dropdown-item" href="/logout"><i
                                                            class="bi bi-box-arrow-right"></i>sign out</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <button class="nav-link offcanvas-btn" type="button"
                                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                                aria-controls="offcanvasRight"><i class="bi bi-gear"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizontal-menu bg-primary">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="sidebar-item">
                                        <a role="button" href="/viewcontactus"  class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Components" tabindex="0"><i class="bi bi-collection-fill"></i><span>View Contact Us</span></a>
                                    </li>      
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dashboardDropdown"
                                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Dashboard
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                                            <li><a href="index.html" class="dropdown-item">Sales Dashboard</a></li>
                                            <li><a href="dashboard-marketing.html" class="dropdown-item">Marketing
                                                    Dashboard</a></li>
                                            <li><a href="dashboard-service.html" class="dropdown-item">Service
                                                    Dashboard</a></li>
                                            <li><a href="dashboard-finance.html" class="dropdown-item">Finance
                                                    Dashboard</a></li>
                                            <li><a href="dashboard-it.html" class="dropdown-item">IT Dashboard</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ecommerceDropdown"
                                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Menu
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="ecommerceDropdown">
                                            <li><a href="/addtimeslot" class="sub-menu-item">Add Time Slot</a></li>
                                            <li><a href="/viewtimeslot" class="sub-menu-item">View Time Slot</a></li>
                                            <li><a href="/bookslot" class="sub-menu-item">Book Slot</a></li>
                                            <li><a href="/userdetails" class="sub-menu-item">User Details</a></li>
                                            <li><a href="/viewuserdetails" class="sub-menu-item">View User Details</a></li>
                                            <li><a href="/payment" class="sub-menu-item">Payment</a></li>
                                            <li><a href="ecommerce-customer.html" class="dropdown-item">Customers</a>
                                            </li>
                                            <li><a href="ecommerce-order.html" class="dropdown-item">Orders</a></li>
                                            <li><a href="ecommerce-coupon.html" class="dropdown-item">Coupons</a></li>
                                            <li><a href="ecommerce-staff.html" class="dropdown-item">Our Staff</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="componentDropdown"
                                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Components
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="componentDropdown">
                                            <li><a href="component_accordion.html" class="dropdown-item">Accordion</a>
                                            </li>
                                            <li><a href="component_alert.html" class="dropdown-item">Alert</a></li>
                                            <li><a href="component_badge.html" class="dropdown-item">Badge</a></li>
                                            <li><a href="component_button.html" class="dropdown-item">Button</a></li>
                                            <li><a href="component_card.html" class="dropdown-item">Card</a></li>
                                            <li><a href="component_carousel.html" class="dropdown-item">Carousel</a>
                                            </li>
                                            <li><a href="component_modal.html" class="dropdown-item">Modal</a></li>
                                            <li><a href="component_progress.html" class="dropdown-item">Progress</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="extra_component.html">Extra
                                                    Components</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="formAndTableDropdown"
                                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Forms & Tables
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="formAndTableDropdown">
                                            <li><a href="form_element.html" class="dropdown-item">Form Elements</a></li>
                                            <li><a href="form_layout.html" class="dropdown-item">Form Layout</a></li>
                                            <li><a href="editor.html" class="dropdown-item">Text Editor</a></li>
                                            <li><a href="table.html" class="dropdown-item">Table</a></li>
                                            <li><a href="data_table.html" class="dropdown-item">Datatable</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="extraUiDropdown" role="button"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Extra UI
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="extraUiDropdown">
                                            <li><a href="widget.html" class="dropdown-item">Widgets</a></li>
                                            <li><a href="chart.html" class="dropdown-item">Apexcharts</a></li>
                                            <li class="dropdown-submenu dropend">
                                                <a href="#" class="dropdown-item dropdown-toggle" id="iconDropdown"
                                                    role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                    aria-expanded="false">Icons</a>
                                                <ul class="dropdown-menu" aria-labelledby="iconDropdown">
                                                    <li><a href="bootstrap_icon.html" class="dropdown-item">Bootstrap
                                                            Icons </a></li>
                                                    <li><a href="font_awesome.html"
                                                            class="dropdown-item">Fontawesome</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="pageDropdown" role="button"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            Pages
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="pageDropdown">
                                            <li><a href="email.html" class="dropdown-item">Email</a></li>
                                            <li><a href="login.html" class="dropdown-item">Login</a></li>
                                            <li><a href="register.html" class="dropdown-item">Register</a></li>
                                            <li><a href="password.html" class="dropdown-item">Forgot Password</a></li>
                                            <li><a href="403.html" class="dropdown-item">Error 403</a></li>
                                            <li><a href="404.html" class="dropdown-item">Error 404</a></li>
                                            <li><a href="500.html" class="dropdown-item">Error 500</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header -->

        <!-- main sidebar -->
        <div class="fixed-sidebar sidebar-mini" data-simplebar>
            <div class="profile">
                <div class="sidebar-profile">
                    <button id="profileClose"><i class="bi bi-x-circle-fill"></i></button>
                    <div class="part-img">
                        <img src="/assets/images/logo-3.png" alt="user">
                    </div>
                    <div class="part-txt">
                        <a href="#" class="name">Hitesh Borad</a>
                        <span>Co founder</span>
                        <ul>
                            <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" tabindex="0"
                                    title="Settings"><i class="bi bi-gear-fill"></i></a></li>
                            <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" tabindex="0"
                                    title="Chat"><i class="bi bi-chat-dots-fill"></i></a></li>
                            <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" tabindex="0"
                                    title="Follower"><i class="bi bi-person-plus-fill"></i></a></li>
                            <li><a href="/logout" data-bs-toggle="tooltip" data-bs-placement="top" tabindex="0"
                                    title="Log out"><i class="bi bi-power"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- sidebar menu -->
            <div class="menu">
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-title"><span>Menu</span></li>
                        <li><a href="/addqrcode" class="sub-menu-item">Add QR Code</a></li>
                        <li><a href="/viewqrcode" class="sub-menu-item">View QR Code</a></li>
                        <li><a href="/adminform" class="sub-menu-item">Add Box Cricket</a></li>
                        <li><a href="/viewadminform" class="sub-menu-item">View Box Cricket</a></li>
                        <li><a href="/addtimeslot" class="sub-menu-item">Add Time Slot</a></li>
                        <li><a href="/viewtimeslot" class="sub-menu-item">View Time Slot</a></li>
                        <li><a href="/bookslot" class="sub-menu-item">Book Slot</a></li>
                        <li><a href="/userdetails" class="sub-menu-item">User Details</a></li>
                        <li><a href="/viewuserdetails" class="sub-menu-item">View User Details</a></li>
                        <li><a href="/payment" class="sub-menu-item">Payment</a></li>
                        <li><a href="/viewcontactus" class="sub-menu-item">View Contactus</a></li>
                    </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sidebar menu -->
        </div>
        <!-- main sidebar -->

        <!-- main-content -->
        <div class="main-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-g">
                        <% if(message.success.length> 0){ %>
                            <div class="alert alert-success" role="alert">
                                <%= message.success %>
                            </div>
                            <% } %>
                            <% if(message.danger.length> 0){ %>
                                <div class="alert alert-danger" role="alert">
                                    <%= message.danger %>
                                </div>
                            <% } %>
                        <div class="panel-heading">
                            <h3>Add Box Cricket</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="/updateadminform/<%= data._id %>" class="form-horizontal">
                                <div class="row g-lg-4 g-2 align-items-center">
                                    <div class="col-sm-4">
                                        <label for="ProductName">Title :</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="<%= data.Title %>"
                                            name="Title">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ProductName">Amenities :</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="checkbox" name="Amenities" value="Ball" <% if(data.Amenities.includes("Ball")) {  %> checked <% } %>> Ball &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Bat" <% if(data.Amenities.includes("Bat")) {  %> checked <% } %>> Bat &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Parking"<% if(data.Amenities.includes("Parking")) {  %> checked <% } %>> Parking &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Stumps" <% if(data.Amenities.includes("Stumps")) {  %> checked <% } %>> Stumps &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Sitting Area" <% if(data.Amenities.includes("Sitting Area")) {  %> checked <% } %>> Sitting Area &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Refreshments" <% if(data.Amenities.includes("Refreshments")) {  %> checked <% } %>> Refreshments &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Restroom" <% if(data.Amenities.includes("Restroom")) {  %> checked <% } %>> Restroom &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Change Room" <% if(data.Amenities.includes("Change Room")) {  %> checked <% } %>> Change Room &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="First Aid" <% if(data.Amenities.includes("First Aid")) {  %> checked <% } %>> First Aid &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Drinking Water"<% if(data.Amenities.includes("Drinking Water")) {  %> checked <% } %>> Drinking Water &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Lights" <% if(data.Amenities.includes("Lights")) {  %> checked <% } %>> Lights &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Washroom" <% if(data.Amenities.includes("Washroom")) {  %> checked <% } %>> Washroom &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="Amenities" value="Sound System" <% if(data.Amenities.includes("Sound System")) {  %> checked <% } %>> Sound System &nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ProductName">Timing :</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="radio" name="Timing" value="Day" <% if(data.Timing.includes("Day")) {  %> checked <% } %>> Day &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="Timing" value="Night" <% if(data.Timing.includes("Night")) {  %> checked <% } %>> Night
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ProductName">Price :</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="<%= data.Price %>" name="Price">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ProductName">Address :</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="<%= data.Address %>" name="Address">
                                    </div>
                                    <div class="col-12">
                                        <div class="btn-box justify-content-end">
                                            <button type="reset" class="btn btn-secondary">Reset</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>     
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
    </div>

    <script src="/assets/vendor/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/vendor/js/simplebar.min.js"></script>
    <script src="/assets/vendor/js/dragula.min.js"></script>
    <script src="/assets/vendor/js/bs-dropzone.min.js"></script>
    <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>